.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 15vh;
    &::before {
        content: '';
        height: 3px;
        position: absolute;
        left: 0;
        width: 100%;
        top: -2px;
        background-color: rgb(255, 255, 255);
    }
    .about__container {
        max-width: 80vw;
        display: grid;
        grid-template-columns: 30vw 70vw;
        .image__wrapper {
            margin-right: 2vw;
            width: 27rem;
            justify-self: right;
            img {
                width: 100%;
                box-shadow: -40px 40px 0 #e8e8e8;
            }
        }
        .info__wrapper {
            opacity: .8;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 1vh;
            width: 70%;
            h1 {
                font-size: 2rem;
                font-weight: 500;
            }
            h3 {
                font-weight: 500;
            }
            .icon__wrapper {
                width: 20%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: black;
                    border-radius: 100%;
                    cursor: pointer;
                    color: white;
                    transition: .3s;
                    &:hover {
                        background-color: white;
                        border: 1px solid black;
                        color: black;
                    }
                }
            }
            button {
                max-width: 20%;
                height: 2.5rem;
                cursor: pointer;
                border: none;
                outline: none;
                background-color: black;
                color: white;
                transition: .3s;
                text-transform: uppercase;
                &:hover {
                    background-color: white;
                    border: 1px solid black;
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 1414px) {
    .about__wrapper {
        .about__container {
            .image__wrapper {}
            .info__wrapper {
                .icon__wrapper {
                    width: 30%;
                    margin: 1rem 0;
                }
                button {
                    min-width: 30%;
                }
            }
        }
    }
}

@media (max-width: 1320px) {
    .about__wrapper {
        .about__container {
            grid-template-columns: 40vw 60vw;
            .image__wrapper {}
            .info__wrapper {
                h1 {
                    font-size: 25px;
                }
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 1090px) {
    .about__wrapper {
        padding-top: 5vh;
        .about__container {
            grid-template-columns: 40vw 60vw;
            .image__wrapper {}
            .info__wrapper {
                h1 {
                    font-size: 25px;
                }
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 14px;
                }
                .icon__wrapper {
                    width: 50%;
                }
                button {
                    min-width: 50%;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .about__wrapper {
        .about__container {
            grid-template-columns: 1fr;
            .image__wrapper {
                width: 20rem;
                justify-self: left;
                img {
                    box-shadow: none;
                }
            }
            .info__wrapper {
                width: 80%;
                justify-self: left;
                p {
                    font-size: 16px;
                    margin: 10px 0;
                }
                .icon__wrapper {
                    width: 40%;
                }
                button {
                    min-width: 40%;
                }
            }
        }
    }
}

@media (max-width: 552px) {
    .about__wrapper {
        padding-top: 0;
        .about__container {
            grid-template-columns: 1fr;
            .image__wrapper {
                width: 13rem;
                justify-self: left;
                img {
                    box-shadow: none;
                }
            }
            .info__wrapper {
                justify-self: left;
                width: 100%;
                h1 {
                    font-size: 20px;
                }
                p {
                    font-size: 12px;
                    margin: 5px 0;
                }
                .icon__wrapper {
                    width: 70%;
                }
                button {
                    min-width: 70%;
                }
            }
        }
    }
}