.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 15vh;
}

.about__wrapper .bf {
  height: 3px;
  position: absolute;
  left: 0;
  width: 100%;
  top: -2px;
  background-color: white;
}

.about__wrapper .about__container {
  max-width: 80vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30vw 70vw;
      grid-template-columns: 30vw 70vw;
}

.about__wrapper .about__container .image__wrapper {
  margin-right: 2vw;
  width: 27rem;
  -ms-grid-column-align: right;
      justify-self: right;
}

.about__wrapper .about__container .image__wrapper img {
  width: 100%;
  -webkit-box-shadow: -40px 40px 0 #e8e8e8;
          box-shadow: -40px 40px 0 #e8e8e8;
}

.about__wrapper .about__container .info__wrapper {
  opacity: .8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1vh;
  width: 70%;
}

.about__wrapper .about__container .info__wrapper h1 {
  font-size: 2rem;
  font-weight: 500;
}

.about__wrapper .about__container .info__wrapper h3 {
  font-weight: 500;
}

.about__wrapper .about__container .info__wrapper .icon__wrapper {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__wrapper .about__container .info__wrapper .icon__wrapper span {
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 100%;
  cursor: pointer;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.about__wrapper .about__container .info__wrapper .icon__wrapper span:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.about__wrapper .about__container .info__wrapper button {
  max-width: 20%;
  height: 2.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

.about__wrapper .about__container .info__wrapper button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

@media (max-width: 1414px) {
  .about__wrapper .about__container .info__wrapper .icon__wrapper {
    width: 30%;
    margin: 1rem 0;
  }
  .about__wrapper .about__container .info__wrapper button {
    min-width: 30%;
  }
}

@media (max-width: 1320px) {
  .about__wrapper .about__container {
    -ms-grid-columns: 40vw 60vw;
        grid-template-columns: 40vw 60vw;
  }
  .about__wrapper .about__container .info__wrapper h1 {
    font-size: 25px;
  }
  .about__wrapper .about__container .info__wrapper h3 {
    font-size: 18px;
  }
  .about__wrapper .about__container .info__wrapper p {
    font-size: 16px;
  }
}

@media (max-width: 1090px) {
  .about__wrapper {
    padding-top: 5vh;
  }
  .about__wrapper .about__container {
    -ms-grid-columns: 40vw 60vw;
        grid-template-columns: 40vw 60vw;
  }
  .about__wrapper .about__container .info__wrapper h1 {
    font-size: 25px;
  }
  .about__wrapper .about__container .info__wrapper h3 {
    font-size: 18px;
  }
  .about__wrapper .about__container .info__wrapper p {
    font-size: 14px;
  }
  .about__wrapper .about__container .info__wrapper .icon__wrapper {
    width: 50%;
  }
  .about__wrapper .about__container .info__wrapper button {
    min-width: 50%;
  }
}

@media (max-width: 992px) {
  .about__wrapper .about__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about__wrapper .about__container .image__wrapper {
    width: 20rem;
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .about__wrapper .about__container .image__wrapper img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .about__wrapper .about__container .info__wrapper {
    width: 80%;
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .about__wrapper .about__container .info__wrapper p {
    font-size: 16px;
    margin: 10px 0;
  }
  .about__wrapper .about__container .info__wrapper .icon__wrapper {
    width: 40%;
  }
  .about__wrapper .about__container .info__wrapper button {
    min-width: 40%;
  }
}

@media (max-width: 552px) {
  .about__wrapper {
    padding-top: 0;
  }
  .about__wrapper .about__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about__wrapper .about__container .image__wrapper {
    width: 13rem;
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .about__wrapper .about__container .image__wrapper img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .about__wrapper .about__container .info__wrapper {
    -ms-grid-column-align: left;
        justify-self: left;
    width: 100%;
  }
  .about__wrapper .about__container .info__wrapper h1 {
    font-size: 20px;
  }
  .about__wrapper .about__container .info__wrapper p {
    font-size: 12px;
    margin: 5px 0;
  }
  .about__wrapper .about__container .info__wrapper .icon__wrapper {
    width: 70%;
  }
  .about__wrapper .about__container .info__wrapper button {
    min-width: 70%;
  }
}
/*# sourceMappingURL=about.css.map */