.about__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    .about__container{
        padding-left: 6vw;
        max-width: 80vw;
        display: flex;
        flex-wrap: wrap;
        .image__wrapper{
            margin-right: 2vw;
            width: 27rem;
            img{
                width: 100%;
                box-shadow: -40px 40px 0 #e8e8e8;
            }

        }
        .info__wrapper{
            opacity: .8;
            width: 40rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 1vh;
            h1{
                font-size: 2rem;
                font-weight: 500;
            }
            h3{
                font-weight: 500;
            }
            .icon__wrapper{
                width: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: black;
                    border-radius: 100%;
                    cursor: pointer;
                    color: white;
                    transition: .3s;
                    &:hover{
                        background-color: white;
                        border: 1px solid black;
                        color: black;
                    }
                }
            }
            button{
                max-width: 20%;
                height: 2.5rem;
                cursor: pointer;
                border: none;
                outline: none;
                background-color: black;
                color: white;
                transition: .3s;
                text-transform: uppercase;
                &:hover{
                    background-color: white;
                    border: 1px solid black;
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 1495px){
    .image__wrapper{
        img{
            box-shadow: none !important;
        }
    }
    .info__wrapper{
        h3{
            margin: 1rem 0;
        }
        p{
            margin: 1rem 0;
        }
        .icon__wrapper{
            margin: 1rem 0;
        }
    }
}

@media (max-width: 700px){
    .image__wrapper{
        img{
            box-shadow: none !important;
        }
    }
    .info__wrapper{
        h3{
            margin: 1rem 0;
        }
        p{
            margin: 1rem 0;
        }
        .icon__wrapper{
            margin: 1rem 0;
            min-width: 60%;

        }
        button{ 
            min-width: 50%;
        }
    }
}