.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.about__wrapper .about__container {
  padding-left: 6vw;
  max-width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__wrapper .about__container .image__wrapper {
  margin-right: 2vw;
  width: 27rem;
}

.about__wrapper .about__container .image__wrapper img {
  width: 100%;
  -webkit-box-shadow: -40px 40px 0 #e8e8e8;
          box-shadow: -40px 40px 0 #e8e8e8;
}

.about__wrapper .about__container .info__wrapper {
  opacity: .8;
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1vh;
}

.about__wrapper .about__container .info__wrapper h1 {
  font-size: 2rem;
  font-weight: 500;
}

.about__wrapper .about__container .info__wrapper h3 {
  font-weight: 500;
}

.about__wrapper .about__container .info__wrapper .icon__wrapper {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__wrapper .about__container .info__wrapper .icon__wrapper span {
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 100%;
  cursor: pointer;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.about__wrapper .about__container .info__wrapper .icon__wrapper span:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.about__wrapper .about__container .info__wrapper button {
  max-width: 20%;
  height: 2.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

.about__wrapper .about__container .info__wrapper button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

@media (max-width: 1495px) {
  .image__wrapper img {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .info__wrapper h3 {
    margin: 1rem 0;
  }
  .info__wrapper p {
    margin: 1rem 0;
  }
  .info__wrapper .icon__wrapper {
    margin: 1rem 0;
  }
}

@media (max-width: 700px) {
  .image__wrapper img {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .info__wrapper h3 {
    margin: 1rem 0;
  }
  .info__wrapper p {
    margin: 1rem 0;
  }
  .info__wrapper .icon__wrapper {
    margin: 1rem 0;
    min-width: 60%;
  }
  .info__wrapper button {
    min-width: 50%;
  }
}
/*# sourceMappingURL=about.css.map */