$navbar: 1120px;
.header {
    position: absolute;
    top: 0;
    z-index: 11;
    left: 0;
    width: 100%;
    transition: all .3s ease-in;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 14%;
        .logo {
            color: white;
            font-size: 3rem;
            letter-spacing: 2px;
        }
        .navbar__wrapper {
            .navbar__menu {
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: relative;
                .navbar__item {
                    list-style: none;
                    position: relative;
                    font-weight: 500;
                    margin-right: 20px;
                    opacity: .8;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        left: 0;
                        bottom: -50%;
                        background-color: white;
                        transition: all 0.2s linear;
                    }
                    &:hover::before {
                        width: 100%;
                    }
                    &:hover {
                        opacity: 1;
                    }
                    .navbar__item__link {
                        color: white;
                        letter-spacing: 2px;
                        font-weight: 500;
                        transition: all 0.2s linear;
                    }
                }
            }
        }
        .hamburgur {
            display: none;
            color: white;
            font-size: 2rem;
            cursor: pointer;
        }
    }
}

.header__background {
    background-color: white;
}

@media(max-width: $navbar) {
    .navbar__wrapper {
        display: none;
    }
    .hamburgur {
        display: block !important;
    }
}

.header__active {
    position: fixed !important;
    .header__nav {
        background-color: white !important;
        padding: .5rem 14% !important;
        a {
            color: black !important;
        }
        .navbar__item {
            &::before {
                background-color: black !important;
            }
        }
    }
}

.navbar__item__active {
    &::before {
        width: 100% !important;
    }
}

@media (max-width: 700px) {
    .header__nav {
        padding: .5rem 7% !important;
        a {
            font-size: 20px !important;
        }
    }
    .hamburgur {
        color: black !important;
        font-size: 20px !important;
    }
}