$navbar: 1120px;
.header {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 16%;
        .logo {
            color: white;
            font-size: 3rem;
            letter-spacing: 2px;
        }
        .navbar__wrapper {
            .navbar__menu {
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: relative;
                .navbar__item {
                    list-style: none;
                    position: relative;
                    font-weight: 500;
                    margin-right: 20px;
                    opacity: .8;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        left: 0;
                        bottom: -50%;
                        background-color: white;
                        transition: all 0.2s linear;
                    }
                    &:hover::before {
                        width: 100%;
                    }
                    &:hover {
                        opacity: 1;
                    }
                    .navbar__item__link {
                        color: white;
                        letter-spacing: 2px;
                        font-weight: 500;
                        transition: all 0.2s linear;
                    }
                }
            }
        }
        .hamburgur {
            display: none;
            color: white;
            font-size: 2rem;
            cursor: pointer;
        }
    }
}

@media(max-width: $navbar) {
    .navbar__wrapper {
        display: none;
    }
    .hamburgur {
        display: block !important;
    }
}