* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

body,
html {
    overflow-x: hidden;
}

#preload {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: black url('../images/preload.gif') no-repeat center center;
    background-size: 20%;
    z-index: 100;
    transition-delay: 1s;
}