* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

body,
html {
    overflow-x: hidden;
    position: relative;
    h1:hover+.cursor {
        width: 5rem;
        height: 5rem;
    }
}

#preload {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        width: 4rem;
        height: 4rem;
        background-color: white;
        border-radius: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 101;
        .circle {
            background-color: white;
            border-radius: 100%;
            position: absolute;
            border: 5px solid black;
            box-shadow: 0 0 20px 5px rgb(141, 139, 139);
            animation: preloadAnimation .8s ease-out infinite;
        }
    }
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
        height: 50%;
        top: 0;
        left: 0;
    }
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
        height: 50%;
        bottom: 0;
        left: 0;
    }
    @keyframes preloadAnimation {
        0% {
            width: 0%;
            opacity: 0;
            height: 0%;
        }
        50% {
            opacity: 1;
            border-width: 7px;
        }
        70% {
            width: 110%;
            height: 110%;
            border-width: 10px;
        }
        100% {
            opacity: 0;
            border-width: 5px;
        }
    }
}

.preload__active {
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
        height: 50%;
        top: 0;
        left: 0;
        animation: pre .8s ease-out infinite;
    }
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
        height: 50%;
        bottom: 0;
        left: 0;
        animation: pre .8s ease-out infinite;
    }
    @keyframes pre {
        from {
            height: 50%;
        }
        to {
            height: 0%;
        }
    }
}

.model__navbar {
    position: fixed;
    background-color: black;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    i {
        position: absolute;
        color: white;
        font-size: 4rem;
        top: 1%;
        right: 5%;
        cursor: pointer;
    }
    ul {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        width: 70%;
        height: 100%;
        li {
            transition: .2s;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: white;
                cursor: pointer;
                a {
                    color: black;
                }
            }
            a {
                transform: .2s;
                color: white;
                padding: 2rem 0;
                font-size: 20px;
                width: 100%;
                height: 100%;
                padding: 1rem 0;
                text-align: center;
            }
        }
    }
}

.show--model {
    display: none;
}

.cursor {
    position: fixed;
    width: 3rem;
    height: 3rem;
    z-index: 999;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0 0 50px 5px rgba(253, 253, 253, 0.6);
    transition: all .3s ease-out;
    border: 2px solid white;
    display: block;
}

.cursor2 {
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0 100px 7px rgba(37, 37, 37, 0.6);
    border: 2px solid rgb(107, 107, 107);
}

.cursorWhite {
    box-shadow: 0 0 50px 5px rgba(253, 253, 253, 0.6);
    border: 2px solid white;
}

@media (max-width: 1300px) {
    .cursor {
        display: none !important;
    }
}