* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
  text-decoration: none;
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
  position: relative;
}

body h1:hover + .cursor,
html h1:hover + .cursor {
  width: 5rem;
  height: 5rem;
}

#preload {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#preload div {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 101;
}

#preload div .circle {
  background-color: white;
  border-radius: 100%;
  position: absolute;
  border: 5px solid black;
  -webkit-box-shadow: 0 0 20px 5px #8d8b8b;
          box-shadow: 0 0 20px 5px #8d8b8b;
  -webkit-animation: preloadAnimation .8s ease-out infinite;
          animation: preloadAnimation .8s ease-out infinite;
}

#preload::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  height: 50%;
  top: 0;
  left: 0;
}

#preload::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  height: 50%;
  bottom: 0;
  left: 0;
}

@-webkit-keyframes preloadAnimation {
  0% {
    width: 0%;
    opacity: 0;
    height: 0%;
  }
  50% {
    opacity: 1;
    border-width: 7px;
  }
  70% {
    width: 110%;
    height: 110%;
    border-width: 10px;
  }
  100% {
    opacity: 0;
    border-width: 5px;
  }
}

@keyframes preloadAnimation {
  0% {
    width: 0%;
    opacity: 0;
    height: 0%;
  }
  50% {
    opacity: 1;
    border-width: 7px;
  }
  70% {
    width: 110%;
    height: 110%;
    border-width: 10px;
  }
  100% {
    opacity: 0;
    border-width: 5px;
  }
}

.preload__active::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  height: 50%;
  top: 0;
  left: 0;
  -webkit-animation: pre .8s ease-out infinite;
          animation: pre .8s ease-out infinite;
}

.preload__active::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  height: 50%;
  bottom: 0;
  left: 0;
  -webkit-animation: pre .8s ease-out infinite;
          animation: pre .8s ease-out infinite;
}

@-webkit-keyframes pre {
  from {
    height: 50%;
  }
  to {
    height: 0%;
  }
}

@keyframes pre {
  from {
    height: 50%;
  }
  to {
    height: 0%;
  }
}

.model__navbar {
  position: fixed;
  background-color: black;
  z-index: 20;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.model__navbar i {
  position: absolute;
  color: white;
  font-size: 4rem;
  top: 1%;
  right: 5%;
  cursor: pointer;
}

.model__navbar ul {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 70%;
  height: 100%;
}

.model__navbar ul li {
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.model__navbar ul li:hover {
  background-color: white;
  cursor: pointer;
}

.model__navbar ul li:hover a {
  color: black;
}

.model__navbar ul li a {
  -webkit-transform: .2s;
          transform: .2s;
  color: white;
  padding: 2rem 0;
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  text-align: center;
}

.show--model {
  display: none;
}

.cursor {
  position: fixed;
  width: 3rem;
  height: 3rem;
  z-index: 999;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  -webkit-box-shadow: 0 0 50px 5px rgba(253, 253, 253, 0.6);
          box-shadow: 0 0 50px 5px rgba(253, 253, 253, 0.6);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border: 2px solid white;
  display: block;
}

.cursor2 {
  width: 5rem;
  height: 5rem;
  -webkit-box-shadow: 0 0 100px 7px rgba(37, 37, 37, 0.6);
          box-shadow: 0 0 100px 7px rgba(37, 37, 37, 0.6);
  border: 2px solid #6b6b6b;
}

.cursorWhite {
  -webkit-box-shadow: 0 0 50px 5px rgba(253, 253, 253, 0.6);
          box-shadow: 0 0 50px 5px rgba(253, 253, 253, 0.6);
  border: 2px solid white;
}

@media (max-width: 1300px) {
  .cursor {
    display: none !important;
  }
}
/*# sourceMappingURL=main.css.map */