//start parallax
$mobile: 650px;
$navbar: 1120px;
$ipad: 1200px;
//start header
//end header
.parallax__wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url('../images/sectionBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .parallax__item {
        position: absolute;
    }
    .parallax__bg {
        width: 100%;
        height: auto;
    }
    .parallax__description {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15% 0 0 15%;
        h1 {
            font-size: 6rem;
            color: white;
            font-weight: 600;
        }
        .parallax__wrapper__span {
            margin-top: 20px;
            span {
                letter-spacing: 2px;
                color: white;
                font-weight: 300;
                padding-left: 7px;
                font-size: 2rem;
            }
            .animation {
                display: flex;
                margin-top: 20px;
                .dynamic {
                    position: relative;
                    font-weight: bold;
                    &::after {
                        content: "";
                        position: absolute;
                        border-right: 1px solid white;
                        height: 100%;
                        animation: typing 0.7s infinite ease;
                    }
                }
            }
        }
    }
    .arrow__down {
        position: absolute;
        bottom: 18%;
        position: absolute;
        left: 20%;
        animation: bounce 1.5s infinite ease-in-out;
        a {
            color: white;
            font-weight: bold;
            font-size: 4rem;
            cursor: pointer;
        }
    }
    .svg__wave {
        bottom: 0;
        height: 30%;
        margin-bottom: -6%;
    }
}

@keyframes typing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        bottom: 18%;
    }
    30% {
        bottom: 22%;
    }
    50% {
        bottom: 18%;
    }
    70% {
        bottom: 20%;
    }
    100% {
        bottom: 18%;
    }
}

@media (max-width: $ipad) {
    .parallax__description {
        padding-top: 40% !important;
        h1 {
            font-size: 3rem !important;
        }
    }
}

@media (max-width: $mobile) {
    .parallax__description {
        padding-top: 50% !important;
        h1 {
            font-size: 2rem !important;
        }
        span {
            font-size: 1rem !important;
        }
        .dynamic {
            font-size: 1rem !important;
        }
        .animation {
            .parallax__item__text {}
        }
    }
    .svg__wave {}
}

// end parallax