.parallax__wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url('../images/sectionBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .parallax__item {
        position: absolute;
    }
    .parallax__bg {
        width: 100%;
        height: auto;
    }
    .parallax__description {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15% 0 0 15%;
        h1 {
            font-size: 75px;
            color: white;
            font-weight: 600;
        }
        .parallax__wrapper__span {
            margin-top: 20px;
            span {
                letter-spacing: 2px;
                color: white;
                font-weight: 300;
                padding-left: 7px;
                font-size: 21px;
            }
            .animation {
                display: flex;
                margin-top: 20px;
                .dynamic {
                    position: relative;
                    font-weight: bold;
                    &::after {
                        content: "";
                        position: absolute;
                        border-right: 1px solid white;
                        height: 100%;
                        animation: typing 0.7s infinite ease;
                    }
                }
            }
        }
    }
    .arrow__down {
        position: absolute;
        bottom: 18%;
        position: absolute;
        left: 20%;
        animation: bounce 1.5s infinite ease-in-out;
        z-index: 1;
        transition: .2s;
        &:hover {
            animation: none;
        }
        a {
            color: white;
            font-weight: bold;
            font-size: 3em;
            cursor: pointer;
        }
    }
    .svg__wave {
        bottom: 0;
        height: 30%;
        margin-bottom: -6%;
    }
    @keyframes typing {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes bounce {
        0% {
            bottom: 18%;
        }
        30% {
            bottom: 22%;
        }
        50% {
            bottom: 18%;
        }
        70% {
            bottom: 20%;
        }
        100% {
            bottom: 18%;
        }
    }
    @media (max-width: 700px) {
        .parallax__description {
            padding-top: 40%;
            h1 {
                font-size: 2rem;
            }
            .parallax__wrapper__span {
                span {
                    font-size: 13px;
                    padding-left: 0;
                }
            }
            .dynamic {
                font-size: 1rem;
                margin-left: 5px;
            }
        }
    }
}