.parallax {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.background {
    object-fit: cover;
}

.parallax__header {
    height: 100%;
    transform-style: preserve-3d;
}

.parallax__description {
    color: white;
    position: absolute;
    top: 35%;
    transform: translateX(50%);
}

.svg__wave {
    position: absolute;
    bottom: 0;
}